/*le ponemos margen 0*/
*{
    padding: 0%;
    margin: 0%;                 
}

/*ponemos que toda la pigina tenga un mismo tamaño y mismo color*/
html,body{
    height: 100%;               
    width: 100%;

}
header{
    height: 11em;
    background-image: url(./img/titulo.jpg);
    background-position: center;
    background-size: cover;

}
main{
    background-color: beige;
}
h1{
    text-align: center;
    color: brown;
}

.tarjetas{
    margin-top: 1%;
}

footer{
    color: beige;
    background-color: brown;
    text-align: right;
}

.tablasPrecios{
    margin: 1%;
}
