/*le ponemos margen 0*/
*{
    padding: 0%;
    margin: 0%;                 
}

/*ponemos que toda la pigina tenga un mismo tamaño y mismo color*/
html,body{
    height: 100%;               
    width: 100%;
}

.portada {
    text-align: center;
    padding: 2.5%;
    color: brown;
}
header{
    height: 9em;
    background-image: url(./img/titulo.jpg);
    background-position: center;
    background-size: cover;
}

nav{
    margin-bottom: 1%;
}
main{
    background-color: beige;
}